@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i&subset=latin-ext');

* {
    font-family: 'Karla', sans-serif;
    font-size: 18px;
}

body {
    background: #F5FCFF;
}

textarea {
    resize: none !important;
}

a:focus, button:focus, a:hover, a:active {
    text-decoration: none !important;
    outline: 0 !important;
}

.center {
    margin: 0 auto;
}

.normal {
    font-weight: normal !important;
}

.bold {
    font-weight: bold !important;
}

.danero-h2 {
    font-size: 34px;
    font-weight: 100 !important;
}

h3 {
    font-size: 20px;
    font-weight: lighter !important;
}
h2 {
    font-size: 20px;
}

.logo {
    text-align: center;
    font-size: 3em;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: #BD3738;
    text-shadow: 0 1px 2px grey;
}

input, textarea, select {
    border-radius: 0 !important;
    background-color: #FDFDFD !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.2), 0 -1px 1px #FFF, 0 1px 0 #FFF !important;
}
input:focus, textarea:focus {
    border-color: #333 !important;
    background-color : white !important;
}

.btn-main {
    background-color: #BD3738;
    color: white;
    box-shadow: 0 3px 0 0 #791012;
}

.btn-main:hover, .btn-main:focus {
    color: white;
    background-color: #791012;
}

.btn-main:active {
    background: #791012;
    box-shadow: none;
}

/* Sidebar */
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 280px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 280px;
    width: 0;
    height: 100%;
    margin-left: -280px;
    overflow-y: auto;
    background: #BD3738;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-box-shadow: 5px 0 5px -2px #d3d3d3;
    box-shadow: 5px 0 5px -2px #d3d3d3;
}

#wrapper.toggled #sidebar-wrapper {
    width: 280px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    margin: 0;
    padding-right: 0 !important;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -270px;
}

@media(min-width:768px) {

    #wrapper {
        padding-left: 260px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 280px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 0 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.sidebar-company {
	color: white !important;
	margin-bottom: 0;
	text-align: center;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 280px;
    margin: 0;
    padding: 0 10px;
    font-weight: lighter !important;
}

.panel-sidebar {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    border-radius: 0 !important;
    border: none;
}
.panel-sidebar .panel-heading:hover {
    background: #D95E63 !important;
}

.panel-sidebar .panel-heading {
    padding: 10px 10px 10px 20px;
    border: none;
    border-radius: 0;
    background: #CC5058;
    display: block;
}

.panel-sidebar .panel-heading.active {
    color: #333;
    text-decoration: none;
    background: ghostwhite !important;
    font-weight: bold;
}
.panel-sidebar .panel-title {
    font-size: 18px;
}

.panel-sidebar a {
    text-decoration: none;
    color: white;
}

.panel-sidebar a i:first-child {
    padding-right: 15px !important;
    font-size: 18px !important;
}

.panel-sidebar a i:last-child {
    font-size: 18px !important;
    text-align: right !important;
    padding-right: 10px;
}

.sidebar-nav a.sidebar-brand {
    height: 100px;
    line-height: 100px;
    background: #BD3738;
    border: none;
    color: white;
    text-align: center !important;
    font-size: 28px;
    padding-right: 0;
    display: block;
}

.panel-sidebar .panel-body {
    background-color: #BD3738;
    color: white;
    border: 0;
    box-shadow: none !important;
    padding: 0;

}
.panel-sidebar .panel-body a {
    font-size: 14px !important;
    display: block;
    padding: 5px 20px;
    line-height: 25px;
    border-top: 1px dotted #CC5058;
}
.panel-sidebar .panel-body a:hover, .panel-sidebar .panel-body a.active {
    font-weight: bold;
    color: #F2CB57;
}

.panel-sidebar .panel-body a.active:before {
	content: '\21FE\00a0 ';
	display: inline-block;
}


td, th, tr {
    border: 1px solid transparent !important;
    transition: all 0.3s;  /* Simple transition for hover effect */
}

th {
    background: #BD3738;  /* Darken header a bit */
    color: ghostwhite;
    font-size: 15px;
    padding: 8px !important;
}

td {
    font-size: 14px;
    padding: 8px !important;
}

/*
    Custom DataTables
*/

.paginate_button.active a {
    background: #BD3738 !important;
    border: 1px solid #ddd;
}

.dataTables_length label, .dataTables_filter label, .dataTables_info, .dataTables_paginate ul.pagination li a {
    font-size: 16px !important;
}

.table tbody tr {
    background-color: aliceblue !important;
}

.table.dataTable tbody tr:hover {
    background-color: #FCE8EA !important;
    cursor: pointer;
}

.toast {
    border-radius: 0 !important;
}
/*
    Checkbox
*/

.control {
    display: block;
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
    padding-left: 30px;
    font-weight: normal !important;
    font-size: 16px;
}
.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
}
.control--radio .control__indicator {
    border-radius: 50%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
    background: #ccc;
}
.control input:checked ~ .control__indicator {
    background: #CC5058;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
    background: #BD3738;
}
.control input:disabled ~ .control__indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}
.control__indicator:after {
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control__indicator:after {
    display: block;
}
.control--checkbox .control__indicator:after {
    left: 7px;
    top: 3px;
    width: 6px;
    height: 12px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b;
}
.control--radio .control__indicator:after {
    left: 7px;
    top: 7px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #fff;
}
.control--radio input:disabled ~ .control__indicator:after {
    background: #7b7b7b;
}
.select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
}
.select select {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 10px 15px;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: #e6e6e6;
    color: #7b7b7b;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.select select::-ms-expand {
    display: none;
}
.select select:hover,
.select select:focus {
    color: #000;
    background: #ccc;
}
.select select:disabled {
    opacity: 0.5;
    pointer-events: none;
}
.select__arrow {
    position: absolute;
    top: 16px;
    right: 15px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: #7b7b7b transparent transparent transparent;
}
.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow {
    border-top-color: #000;
}
.select select:disabled ~ .select__arrow {
    border-top-color: #ccc;
}

.parent-module {
    background: red;
}

#top-bar {
    background: white;
    border-bottom: 1px solid #ddd;
    height: 70px;
    padding: 20px 15px;
}
#top-bar span {
    font-size: 22px;
    font-weight: bold;
    color: #2B2B2B;
}
